@font-face {
    font-family: Figtree;
    src: url("./assets/fonts/Figtree-VariableFont_wght.ttf");
}

body{
    margin: 0;
    background-color: hsl(47, 88%, 63%);
    color: hsl(0, 0%, 7%);
    height: 100vh;
    display: flex;
    font-family: Figtree, sans-serif;
}

.container{
    background-color: white;
    border: 1px solid black;
    width: min(300px, 50%);
    margin: auto;
    padding: 18px;
    border-radius: 15px;
    box-shadow: 5px 5px 0px 2px black;
}

.img-wrapper{
    overflow: hidden;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-img{
    width: 100%;
    height: 100%;
}

p{
    margin: 0;
}

.category{
    display: inline-block;
    background-color: hsl(47, 88%, 63%);
    padding: 5px 8px;
    font-weight: 800;
    border-radius: 3px;
    margin: 20px 0px 10px 0px;
}

.date{
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 14px;
}

.title{
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: hsl(47, 88%, 63%);
}

.title:hover{
    color: hsl(47, 100%, 47%);
}

.description{
    color: hsl(0, 0%, 42%);
    margin-top: 14px;
    font-size: 14px;
    line-height: 1.5;
}

.user-info{
    display: flex;
    margin-top: 16px;
    align-items: center;
    gap: 10px;
}

.profile-pic{
    width: 32px;
}

.user-name{
    font-weight: 800;
    font-size: 12x;
}

.profile-pic:hover{
    cursor: pointer;
}

.user-name:hover{
    cursor: pointer;
    color: hsl(0, 0%, 42%);
}